*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
body{
    background-color :hsl(30, 38%, 92%);
    width: 100vw;
    height: auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    min-height: 100vh;
    max-width: 100vw;
}

.card{
    background-color: white;
    width: 18rem;
    border-radius:0.5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.photo{
    max-width: 100%;
    max-height: 100%;

}

.card-body{
    padding: 1rem;
}

.title{

    letter-spacing: 2px;
    color: hsl(228, 12%, 48%);
   
}

.card-text{
    padding-top: 1em;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}

h2{
    font-family: 'Fraunces', serif;

}
.price{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 1em 1em;
}

.price1{
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;

    font-weight: 700;


}

.price2{
    font-size: 12px;
    text-decoration: line-through;
    vertical-align: bottom;
    text-align: center;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat&700', sans-serif;

}

button{

    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
        border-radius: 0.5em;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;

}


@media screen  and (min-width:1440px) {

    .card{
        display:flex;
     flex-direction: row;
        justify-content: start;
        width: 600px;
        height:600px ;
    }
    
    .photo{
        
        width: 50%;
        height: 100%;
        
    }
    
}


